#map {
        width: 320px;
        height:320px;
        background-color: grey;
        position: relative;
        overflow: hidden;
        margin-right: 0px;
        left: 1000px;
        margin-bottom: 0px;
        border-bottom-width: 1000px;
        top: -200;bottom: 0px;
      }
#llego
      {
padding-left: 100px;
      }
#general
{
    margin: -200px;
}